.shop {
  background:linear-gradient(-180deg, rgba(0,0,0,0.50), rgba(0,0,0,0.50)), url(../public/shop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop h3 {
  font-family: 'Quiapo';
  color: #FEF8E8;
  font-size: 50px;
  text-align: center;
}